﻿@{
    ViewBag.Title = "To Do List";
    Layout = "~/Views/Shared/Fullscreen.cshtml";
}
    @if (Request.IsAuthenticated)
    {
<div>
    <div style="width: 800px; height:100%;">
        <div id="toDoList" style="position: relative;">
            <div style="width:50%;  height:100%;">
                <div data-bind="visible: showCancelList">
                    <div>
                        <div>Title:</div><div>
                            <textarea data-bind="value: addListTitle" rows="1" cols="50" style="height:24px;"></textarea>
                        </div>
                        <div>Description:</div><div><textarea data-bind="value: addListDescription" rows="1" cols="50" style="height:24px;"></textarea></div>
                    </div>
                </div>
                <div class="btn btn-success" data-bind="click: addList" style="padding-top:10px; text-align:center; width:100%; height:40px; float:left;">Add List</div>
                <div class="btn btn-success" data-bind="visible: showCancelList, click: cancelAddList" style="padding-top:10px; text-align:center; width:100%; height:40px; float:left; ">Cancel</div>
            </div>
            <div data-bind="foreach: lists" style="clear:both; width:100%;">
                <div>
                    <div data-bind="click: function () { $data.selectList($parent) }" style="border: 1px solid #000000; margin-bottom:10px; padding:10px; width: 50%; height: 150px; position:relative; ">
                        <div>
                            <div class="todoItem">
                                <span class="todoItem" style="font-size: 24px;" data-bind="text: Title"></span>
                                <textarea class="todoItem" style="display: none;height:36px; " data-bind="value: Title" rows="1" cols="45"></textarea>
                            </div>
                        </div>
                        <div class="todoItem">
                            <span class="todoItem" data-bind="text: Description"></span>
                            <textarea class="todoItem" style="display: none;" data-bind="value: Description" rows="1" cols="45"></textarea>
                        </div>
                        <div style="position:absolute; bottom:0px; padding-bottom:10px;">
                            <div>
                                Created By: <span data-bind="text: Username"></span>
                            </div>
                            <div>
                                Created Date: <span data-bind="text: CreatedDate"></span>
                            </div>
                            <div>
                                Last Modified Date: <span data-bind="text: LastModifiedDate"></span>
                            </div>
                        </div>
                        <div style="position: absolute; right: 0; top: 0px; cursor: pointer; font-size: 20px;"
                             data-bind="click: removeList">
                            X
                        </div>
                    </div>
                </div>
                <div style="position: absolute; left: 51%; top: 0px; width:50%; ">
                    <div data-bind="visible: listItemsVisible" style="width:100%;">
                        <div data-bind="visible: showCancelItem">
                            <div style="width:150px; float:left;">
                                Title:
                            </div>
                            <div style="float:left;">
                                <textarea class="todoItem" style="height:26px;" data-bind="value: addItemTitle" rows="1" cols="50"></textarea>
                            </div>
                            <div style="float:left;">
                                Description:
                            </div>
                            <div style="float:left;">
                                <textarea class="todoItem" data-bind="value: addItemDescription" rows="2" cols="50"></textarea>
                            </div>
                        </div>
                        <div>
                            <div class="btn btn-success" data-bind="click: addItem" style="padding-top:10px; text-align:center; width:100%; height:40px; float:left; ">Add Item </div>
                            <div class="btn btn-success" data-bind="visible: showCancelItem, click: cancelAdd  " style="padding-top:10px; text-align:center; width:100%; height:40px; float:left;">Cancel</div>
                        </div>
                        <div style="clear:both;"><span class="todoItem" style="font-size:24px;" data-bind="text: Title"></span></div>
                        <div style="clear:both;"></div>
                        <div data-bind="foreach: ListItems ">
                            <div style="position:relative; border: 1px solid #000000; width: 400px; padding:10px;">
                                <div class="todoItem">
                                    List Item Title: <span class="todoItem" data-bind="text: Title"></span>
                                    <input class="todoItem" type="text" style="display: none;" data-bind="value: Title" />
                                    <textarea class="todoItem" data-bind="value: Title" rows="1" cols="50"></textarea>
                                </div>
                                <div class="todoItem">
                                    List Item Description: <span class="todoItem" data-bind="text: Description"></span>
                                    <textarea class="todoItem" data-bind="value: Description" rows="4" cols="50"></textarea>
                                </div>
                                <div>
                                    List Item Created Date: <span data-bind="text: CreatedDate"></span>
                                </div>
                                <div>
                                    List Item Last Modified Date: <span data-bind="text: LastModifiedDate"></span>
                                </div>
                                <div style="position: absolute; right: 0; top: 0px; cursor: pointer;
                                            font-size: 20px;" data-bind="click: function () { $data.removeItem($parent.ListItems()) }">
                                    X
                                </div>
                            </div>
                        </div>
                        <div data-bind="visible: ListItems().length">
                            <div class="btn btn-success" data-bind="click: updateProduct" style="padding-top:10px; text-align:center; width:100%; height:40px; float:left; ">Save Item Updates</div>
                            <div class="btn btn-success" data-bind="click: cancelUpdate" style="padding-top:10px; text-align:center; width:100%; height:40px; float:left; ">Cancel</div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="visible: lists().length" style="width:50%;">
                <div class="btn btn-success" data-bind="click: updateList" style="padding-top:10px; text-align:center; width:100%; height:40px; float:left; ">Save List Updates</div>
                <div class="btn btn-success" data-bind="click: cancelUpdateList" style="padding-top:10px; text-align:center; width:100%; height:40px; float:left;">Cancel</div>
            </div>
        </div>
    </div>
</div>
    } else 
    { 
        <div>
            <a href="~/account/login">LOGIN</a> or <a href="~/account/register">REGISTER</a> to create your own lists!
</div>
    }
<script type="text/javascript">
    $(document).on('click', '.todoItem', function () {
        $('.todoItem').find('span').show();
        $('.todoItem').find('textarea').hide();
        $(this).find('span').hide();
        $(this).find('textarea').show();
    });
    $(document).on('keyup', '.todoItem', function (event) {
        if (event.keyCode == 13) {
            $('.todoItem').find('span').show();
            $('.todoItem').find('textarea').hide();
        }
    });
    $(document).click(function (event) {
        if ($(event.target).attr('class') != 'todoItem') {
            $('.todoItem').find('span').show();
            $('.todoItem').find('textarea').hide();
        }
    });

    var viewModel = new App.Lists(@Html.Raw(Json.Encode(Model)));
    App.bindViewModel({ viewModel: viewModel, elementId: "toDoList" });
</script>
<style>
    input[type=text].todoItem{display:none;}
</style>