﻿
@{
    ViewBag.Title = "Asteroid";
    Layout = "~/Views/Shared/Fullscreen.cshtml";
}

@Styles.Render("~/Content/asteroid")
<div id="game">
    <div id="gameUI">
        <div id="gameIntro">
            <h1>Asteroid avoidance</h1>
            <p>Click play and then press any key to start.</p>
            <p>
                <a id="gamePlay" class="button"
                   href="">Play</a>
            </p>
        </div>
        <div id="gameStats">
            <p>Time: <span class="gameScore"></span>seconds</p>
            <p><a class="gameReset" href="">Reset</a></p>
        </div>
        <div id="gameComplete">
            <h1>Game over!</h1>
            <p>
                You survived for <span class="gameScore"></span>
                seconds.
            </p>
            <p>
                <a class="gameReset button" href="">
                    Play
                    again
                </a>
            </p>
        </div>
    </div>
    <canvas id="gameCanvas" width="800" height="600">
        <!-- Insert fallback content here -->
    </canvas>
</div>
<script>
    var app = new App.Asteroid();
</script>