﻿@{
    ViewBag.Title = "RealTime Game";
    Layout = "~/Views/Shared/Fullscreen.cshtml";
}
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

<script src="~/signalr/hubs" type="text/javascript"></script>

<div>
    <div style="font-size:40px; padding:10px 0;">
        Live Game
    </div>
    <div style="max-width:800px; min-width:300px; padding:10px 0;">
        This isn't actually a game at all, but a real time updating event tool for creating postings for different types of games. First you enter in your email address, and then you're able to either create a listing for your own game. Or, you can join other people's games. And it's all updated in real time.
    </div>
    <div style="max-width:800px; min-width:300px; padding-bottom:10px;">
        This tool is created using SignalR and is bound and displayed with KnockoutJS.
    </div>
</div>
<div id="games">
    <div data-bind="visible: (EmailAddress() == '' || !EmailAddress.isValid())" style="padding:20px 0;">
        <div>
            Enter an Email Address join a game or to create your own.
        </div>
        @*<div data-bind="text:EmailAddress().length">

            </div>
            <div>
                First Name: <input type="text" id="FirstName" data-bind="value: FirstName" />
            </div>
            <div>
                Last Name: <input type="text" id="LastName" data-bind="value: LastName" />
            </div>*@
        <div>
            Email: <input type="text" id="Email" data-bind="value: EmailAddress" />
        </div>
    </div>
    <div data-bind="visible: EmailAddress.isValid()" style="padding:10px 0;">
        <div>
            Logged in as: <span data-bind="text:EmailAddress()"></span>
        </div>
        <div id="btnChangeEmail" class="btn btn-info" data-bind="click: changeEmail" style="text-align:center; padding:15px; width: 200px;">
            Change Username
        </div>
        <div>
            Game Name: <input type="text" id="GameName" data-bind="value: GameName" />
        </div>
        <div>
            Sport: <select id="sport" data-bind="options: Sports, optionsText: 'Name', optionsValue: 'Id', value: selectedSport"></select>
        </div>
        <div>
            Start Time: <input id="startTimes" type="text" data-bind="value: StartDate" />
            <select id="StartHour" data-bind="options: StartHour, value: selectedHour"></select>
            <select id="StartMinute" data-bind="options: StartMinute, value: selectedMinute"></select>
            <select data-bind="options: AMPM, value: selectedAMPM"></select>
        </div>
        <div>Private: <input type="checkbox" data-bind="checked: Public" /></div>
        <div id="btnAddButton" class="btn btn-info" data-bind="click: addGame" style="width: 200px;padding: 15px; text-align:center; ">
            Add Game
        </div>
    </div>

    <div>
        <div data-bind="foreach: GameList">
            <div style="border:1px solid #666666; padding: 10px; width: 300px; margin:10px 0; border-radius:3px; box-shadow: #DEDEDE 0 0 4px;">
                <div data-bind="text:Name()" style="font-size:18px;">

                </div>
                <div data-bind="text:Sport()">

                </div>
                <div data-bind="text:StartTime()">

                </div>
                <div>
                    People Playing: <span data-bind="text:Count()"></span>
                </div>
                <div class="btn btn-info" data-bind="click: JoinLeaveGame, text: JoinLeaveText()" style="width: 75px; text-align:center; padding:7px 0px; ">
                    Join
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#startTimes").datepicker({
            minDate: 0
        });
        console.log('test Inside')
    });
    
    /*trimmed value binder for knockout*/
    ko.subscribable.fn.trim = function () {
        return ko.computed({
            read: function () {
                return this().trim();
            },
            write: function (value) {
                this(value.trim());
                this.valueHasMutated();
            },
            owner: this
        });
    };

    var broadcaster = $.connection.game;
    console.log(broadcaster);
    var viewModel = new App.Games(@Html.Raw(Json.Encode(Model)), broadcaster);
    App.bindViewModel({ viewModel: viewModel, elementId: "games" });
    $.connection.hub.start();

</script>
