﻿@model Untitled2.Views.Account.LoginViewModel

@{
    Layout = "~/Views/Shared/Blank.cshtml";
}


<style>
    .labelWrapper {
        width: 160px;
    }

    .field {
        clear: both;
        width: 100%;
    }

    .inputWrapper {
        float: left;
        width: 280px;
    }

    input {
        width: 400px;
        height: 30px;
        font-size: 18px;
    }
</style>

<div style="height: 100%; width: 100%;">
    <div style="height: 100%;font-size:24px;background: url(../../Content/Images/download12.jpg)  no-repeat center center fixed; background-size: cover; position: absolute; top: 0; bottom: 0; left: 0; right: 0; /*otherwise div defaults to page width*/
    margin: 0 auto;">

        <div id="loginContainer" style="height: 100%;">
            <div style="position:relative;height: 100%;margin-right:40px;">
                <div style="position: absolute; top: 20%; left:10%; background-color: whitesmoke; width: 700px; min-height: 500px; opacity: .7; padding:40px 20px 20px 60px;">
                    <div id="titleWrapper">
                        <div id="logo">
                            <div class="image"></div>
                        </div>
                        <div id="title">
                            <div style="font-size:48px;">
                                Login
                            </div>
                        </div>
                    </div>
                    <div id="description">
                        <p>
                            <b>Welcome!</b> Please Login below.
                        </p>
                        <p>
                            If this is your first visit to our site, select <b>Register</b> and create your account today!!!
                        </p>
                    </div>                   
                    <form id="loginpage" method="POST" action="login">
                        @Html.AntiForgeryToken()
                        <div id="loginStatus">
                            @if (!Model.ErrorMessage.IsNullOrEmpty())
                            {
                                @Model.ErrorMessage
                            }
                        </div>
                        <div style="margin-top:40px;">
                            <div id="input">
                                <div style="margin:10px 0;">@Html.TextField("username", "username", "USERNAME")</div>
                                <div style="">@Html.PasswordField("password", "password", "PASSWORD")</div>
                            </div>
                            <div id="actions">
                                <div>
                                    <div id="login" class="actionButton">
                                        <input type="submit" data-bind="click: login" class="btn btn-primary" style="width:100px" value="LOG IN" />
                                        <input type="submit" data-bind="click: cancel" class="btn btn-primary" style="width:100px" value="CANCEL" />
                                    </div>
                                </div>
                                <div>
                                    <div id="register" class="actionButton">
                                        <a href="@Url.Action("Register", "Account")">
                                            <div>REGISTER</div>
                                        </a>
                                    </div>
                                    <div id="forgotPassword" >
                                        <div id="forgot">FORGOT PASSWORD</div>
                                        <div id="forgotPwField" style="display:none;">
                                            <div data-bind="visible: userDoesntExist">
                                                This User Doesnt Exist!
                                            </div>
                                            <input data-bind="value: forgotEmail" type="text" /> 
                                            <div data-bind="click: remind" class="btn btn-primary"
                                                 style="width: 140px; padding:5px 20px; color:white">
                                                Remind Me
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#forgot').click(function () {
            $('#forgotPwField').toggle(500);
        });
        $('#remind').click(function () {
            var email = $('#forgotPwEmail').val().trim();
            if (email != '') {
            
            }
        });
    App.configure({
        appBase: '@Url.Content("~")',
        secureAppBase: '@Url.Content("~")',
            passwordComplexity: {
                minLength: 8,
                uppercaseCharacters: 1,
                lowercaseCharacters: 1,
                numberCharacters: 1,
                specialCharacters: 1,
                message: "This field must be at least 8 characters, and contain at least 1 uppercase, lowercase, number, and special character."
            }
    });
        var viewModel = new App.Login(@Model.ToJson());
    ko.applyBindings(viewModel, document.getElementById('loginpage'));
    </script>
}
