﻿@model Untitled2.Views.Account.RegisterViewModel

@{
    Layout = "~/Views/Shared/Blank.cshtml";
    this.SetPageTitle("Registration Page");
}

<style>
    .field {
        clear: both;
        width: 100%;
    }

    .inputWrapper {
        float: left;
        width: 280px;
    }

    .labelWrapper {
        font-size: 26px;
        float: left;
        text-align: left;
        padding-left: 40px;
        width: 300px;
    }

    input {
        width: 400px;
        height: 30px;
        font-size: 24px;
    }
</style>
<div style="height: 100%; width: 100%;">
    <div style="height: 100%; background: url(../../Content/Images/download17.jpg)  no-repeat center center fixed; background-size: cover; position: absolute; top: 0; bottom: 0; left: 0; right: 0; /*otherwise div defaults to page width*/
    margin: 0 auto;">
        <div style="position: relative; height: 100%">
            <div style="position: absolute; left: 10%; top: 20%; height: 80%">
                <div id="registerContainer" style="position: relative; background-color: #666666; width: 800px; height: auto; margin: auto; padding-bottom:20px; text-align: center; opacity: .9;">
                    <div>
                        <div id="titleWrapper">
                            <div id="logo">
                                <div class="image"></div>
                            </div>
                            <div id="title">
                                <div></div>
                            </div>
                        </div>
                        <div id="description" style="font-size: 48px; color: #ffffff; padding:10px 0px;">
                            Registration
                        </div>

                        <form id="registrationForm">
                            @Html.AntiForgeryToken()
                            <div id="registrationFields">
                                <div data-bind="visible: Errors().length">
                                    <ul data-bind="foreach: Errors">
                                        <li>
                                            <b data-bind="text: $data"></b>
                                        </li>
                                    </ul>
                                </div>
                                <div id="classInputs">
                                    <div style="margin: 10px 0; color: #ffffff;">@Html.TextField("FirstName", "FirstName", "First Name", new Dictionary<string, string> { { "data-rule-required", "true" }, { "data-rule-minlength", "2" }, { "data-rule-maxlength", "30" } })</div>
                                    <div style="margin: 10px 0; color: #ffffff;">@Html.TextField("LastName", "LastName", "Last Name", new Dictionary<string, string> { { "data-rule-required", "true" }, { "data-rule-minlength", "2" }, { "data-rule-maxlength", "30" } })</div>
                                    <div style="margin: 10px 0; color: #ffffff;">@Html.TextField("EmailAddress", "EmailAddress", "Email Address", new Dictionary<string, string> { { "data-rule-required", "true" }, { "data-rule-email", "true" } })</div>
                                    <div style="margin: 10px 0; color: #ffffff;">@Html.PasswordField("Password", "Password", "Password", new Dictionary<string, string> { { "data-rule-required", "true" }, { "data-rule-passwordcomplexity", "true" } })</div>
                                    <div style="margin: 10px 0; color: #ffffff;">@Html.PasswordField("PasswordRpt", "PasswordRpt", "Confirm Password", new Dictionary<string, string> { { "data-rule-required", "true" }, { "data-rule-equalto", "#Password" } })</div>
                                </div>
                                <div id="actions">
                                    <div>
                                        <div id="register" class="actionButton" style="margin-top: 20px;">
                                            <input id="submitReg" type="submit" data-bind="click: submit" value="Save" style="width: 50%; height: 40px;" />
                                        </div>
                                    </div>
                                    <div>
                                        <div id="cancel" class="actionButton" style="margin-top: 10px;">
                                            <input type="reset" data-bind="click: reset" value="Cancel" style="width: 50%; height: 40px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #classInputs input{
        color:#333333;
    }
</style>
@section scripts
{
    <script type="text/javascript">
        App.configure({
            appBase: '@Url.Content("~")',
            secureAppBase: '@Url.Content("~")',
            passwordComplexity: {
                minLength: 6,
                uppercaseCharacters: 1,
                lowercaseCharacters: 1,
                numberCharacters: 1,
                specialCharacters: 1,
                message: "This field must be at least 6 characters, and contain at least 1 uppercase, lowercase, number, and special character."
            }
        });
        console.log(@Model.ToJson());
        var viewModel = new App.Register(@Model.ToJson());
        $('#cancel').click(function () {
            window.location.href = '@Url.Action("Index", "Home")';
        });
        App.bindViewModel({ viewModel: viewModel, elementId: "registrationFields" });
    </script>
}