﻿
@{
    ViewBag.Title = "Registration Pending";
    Layout = "~/Views/Shared/Blank.cshtml";
}
@if (Request.IsAuthenticated) { Response.Redirect("~/home"); }
<div style="width:100%;">
    <div style="width:500px; margin:auto;">
        <h2>Registration Pending</h2>
        Thanks for registering with us. An email has been sent to you in order to validate that you are you. Please log in and click on the link in order to finish to validating yourself and log in.
    </div>
</div>