﻿
<!DOCTYPE html>
<html class="@RenderSection("htmlClass", false)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Untitled Webpages</title>    
    
    @Scripts.Render("~/Scripts/LuceneSearch")
    @Styles.Render("~/Content/LuceneSearch")
    <style>
        html {
            min-height: 100%; /* make sure it is at least as tall as the viewport */
            position: relative;
        }

        body {
            height: 100%; /* force the BODY element to match the height of the HTML element */
        }
    </style>    

</head>

<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>

</html>