﻿
<!DOCTYPE html>
<html class="@RenderSection("htmlClass", false)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Untitled Webpages</title>
        @Scripts.Render("~/Scripts/third-party/bundle")
        @Scripts.Render("~/Scripts/AppScripts")
            @Styles.Render("~/Content/site")
                @Styles.Render("~/bundles/bootstrapcss")
                @Styles.Render("~/Content/jQueryUi")
    
    <style>
        html {
            min-height: 100%; /* make sure it is at least as tall as the viewport */
            position: relative;
        }

        body {
            height: 100%; /* force the BODY element to match the height of the HTML element */
        }
    </style>
</head>

<body>
    @RenderBody()

    <script type="text/javascript">
        App.configure({
            appBase: '@Url.Content("~")',
            secureAppBase: '@Url.Content("~")',
            passwordComplexity: {
                minLength: 8,
                uppercaseCharacters: 1,
                lowercaseCharacters: 1,
                numberCharacters: 1,
                specialCharacters: 1,
                message: "This field must be at least 8 characters, and contain at least 1 uppercase, lowercase, number, and special character."
            }
        });
    </script>

    @RenderSection("scripts", required: false)
</body>

</html>