﻿@{
    Layout = "~/Views/Shared/BlankCalendar.cshtml";

}


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/">Untitled Webpages</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="~/">Home</a></li>
            <li><a href="~/Stores">Store</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Live Game<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="~/Game">Live Game</a></li>
                </ul>
            </li>
            <li><a href="~/Games/Asteroid">Asteroid Game</a></li>
            <li><a href="~/Calendar">Event Calendar</a></li>
            <li><a href="~/Home/Map">Google Maps Tool</a></li>
            <li><a href="~/ToDoList">To Do List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding-right:20px;">
            @using (Html.BeginForm("LocalizationAction", "LocalizationController", new { returnUrl = Request.Url.AbsoluteUri }))
            {

                if (Request.IsAuthenticated)
                {

                    <li>
                        @Html.ActionLink(HttpContext.Current.User.Identity.Name, "Profile", "Home", new { id = HttpContext.Current.User.Identity.Name })
                    </li>
                    <li>
                        <a href="~/account/logoff">SignOut</a>
                    </li>
                    <li>
                    </li>
                }
                else
                {
                    <li> @Html.ActionLink("Sign in", "Login", "Account", new { r = Request.Url.AbsolutePath.ToString() }, new { @class = "hoverbutton" }) @Html.ActionLink("Register", "Register", "Account", null, new { @class = "hoverbutton" }) </li>
                }
            }
        </ul>
    </div>
</nav>
<div id="main-wrapper" class="col-md-11 pull-right">
    <div class="container-fluid body-content" style="padding-bottom: 80px;">
        @RenderBody()
    </div>
</div>
<div class="navbar-fixed-bottom">
    <div style="padding:10px; background-color:#E7E7E7 ">
        &copy; Untitled Webpages
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", false)
}
<script type="text/javascript">
    $(".nav li").on("click", function () {
        $(".nav li").removeClass("active");
    });

    var url = window.location;
    // Will only work if string in href matches with location
    $('ul.nav a[href="' + url + '"]').parent().addClass('active');

    // Will also work for relative and absolute hrefs
    $('ul.nav a').filter(function () {
        return this.href == url;
    }).parent().addClass('active');

    //var viewModel = new App.Layout({});
    //App.bindViewModel({ viewModel: viewModel, elementId: "wrapper" });
</script>
