﻿
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/StoreLayout.cshtml";
}

<div id="store">
    <div style="font-size:36px;" data-bind="text: Name">

    </div>
    <div style="" data-bind="text: Description">

    </div>
    <div style="padding:30px 0 20px 0;">
        Click on the categories below to see all the items listed in each category!
    </div>
    <div data-bind="foreach: Categories">
        <div style="height:75px; float:left; margin-right:20px; cursor:pointer;" data-bind="click: selectCategory">
            <div style="font-size:24px;" data-bind="text: Name">

            </div>
            <div style="" data-bind="text: Description">

            </div>
        </div>
    </div>
    <div style="clear:both;">

    </div>
    <div data-bind="with: ItemList">
        <div data-bind="foreach: selectedCategory">
            <div style="width:240px; padding:30px 0; margin-bottom:10px; border:1px solid black; text-align:center; float:left; margin-right:20px; border-radius:5px; background-color:#E7E7E7; box-shadow:gray 0 0 5px;">
                <a data-bind="attr: { href: '/storeitem/' + Uid() }">
                    <div style="">
                        <img src="~/Content/images/1024px-Opera_widget_icon.svg.png" style="display: block; margin-left: auto; margin-right: auto; width:60%" />
                    </div>
                </a>
                <div style="padding:10px 0 20px 0;width:80%; margin:auto; border:1px solid black; background-color:#FFFFFF; border-radius:5px;">
                    <div style="margin: 10px;">
                        <a data-bind="attr: { href: '/storeitem/' + Uid() }">
                            <div style="font-size:20px;" data-bind="text: Name"></div>
                        </a>
                        <div style="padding:2px 0;" data-bind="text: Description"></div>
                        <div style="padding:2px 0;">$<span data-bind="text: Price"></span></div>
                        <div style="padding:2px 0;">Available: <span data-bind="text: Quantity"></span></div>
                        <select style="margin:5px 0 15px 0;" data-bind="options: selectQuantity, value: selectedQuantity"></select>
                        <div data-bind="click: addToCart" style="margin:auto; width: 120px; padding:10px 0px; border: 1px #000000 solid; background-color:#00b33c; color:#FFFFFF; cursor:pointer; text-align:center; border-radius:5px;">
                            ADD TO CART
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var viewModelStore = new App.Store(@Html.Raw(Json.Encode(Model)));
    App.bindViewModel({ viewModel: viewModelStore, elementId: "store" });

    ko.bindingHandlers.preventBubble = {
        init: function (element, valueAccessor) {
            var eventName = ko.utils.unwrapObservable(valueAccessor());
            var arr = eventName;
            if (!eventName.pop) {
                arr = [arr];
            }
            for (var p in arr) {
                ko.utils.registerEventHandler(element, arr[p], function (event) {
                    event.cancelBubble = true;
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    }
                });
            }
        }
    };
</script>