﻿

html { height: 100%; }
body {
    height:100%;
    min-height: 100%;
    position:relative;
}
#header1 {
    height:70px;
    width:100%;
    top:0px;
    left:0px;
    background: #CCCCCC;
    position:absolute;
}
#footer {
    width:100%;
    bottom:0px;
    left:0px;
    background: #F8F8F8;
    position:absolute;
    border-top:1px solid #E7E7E7;
}
#content {
    box-sizing: border-box;
    height:100%;
    overflow:auto;
}