﻿

html { height: 100%; }
body {
    height:100%;
    min-height: 100%;
    position:relative;
}
#header {
    height:50px;
    width:100%;
    top:0px;
    left:0px;
    background: #CCCCCC;
    position:absolute;
}
#footer {
    width:100%;
    bottom:0px;
    left:0px;
    background: #CCCCCC;
    position:absolute;
}
#content {
    padding-top:50px;
    box-sizing: border-box;
    height:100%;
}