﻿@using System.Linq

@model Untitled2.Models.Cart

<div id="cart">
    <div class="caption">
        <b>Your cart:</b>
        @if (Model == null)
        {
            @: 0 item(s), Price 0.00
            @Html.ActionLink("Cart", "Index", "Cart")

        }
        else
        {
            @*@Model.Quantity @: items(s),
                @Model.TotalPrice.ToString("c")*@
            <div>
                <span data-bind="text: Quantity"></span> item(s)
                <span data-bind="text: TotalPrice"></span>
            </div>
            @Html.ActionLink("Cart", "Index", "Cart")
        }
    </div>
</div>

<script>
    App.bindViewModel({ viewModel: new App.Cart(@Html.Raw(Json.Encode(Model))), elementId: "cart" });
</script>