﻿@{
    Layout = "~/Views/Shared/HomepageLayout.cshtml";

}
<div id="botImgDiv" class="parallaxWindow">
    <div src="~/Content/images/photo-1452837850452-3974eda0fbe4.jpg">
        <div style="text-shadow: 0px 0px 10px #333333; font-size:70px; font-weight: 600; padding-top:40px;">
            WELCOME TO UNTITLED WEBPAGES!
        </div>
        <div style="max-width:800px; text-align:center; margin:auto;padding-top:40px; font-size:22px;text-shadow: 0px 0px 20px #333333;">
            Welcome to my UntitledWebpages.com, my project for untitled projects and webpages. I bought this domain for the uniqueness and my appeal of it's name.
            I'm currently using it as a place to host unfinished projects and mini projects, as well as to test and display projects and other code.
        </div>
        <div style="max-width:800px; text-align:center; margin:auto;padding-top:40px; font-size:22px; text-shadow: 0px 0px 20px #333333;">
            Down below is a list and description of some of the projects listed on this site. While this site is not mobile friendly at the moment, that might change in the future. Enjoy!
        </div>
    </div>
</div>
<div style="height:auto; width:100%; font-size:16px;">
    <div style="max-width:1200px; min-width:320px; margin:auto; padding:20px;">
        <div style="width:100%; border:1px solid black; text-align:center; margin:20px 0; padding: 40px 40px; border-radius: 5px; box-shadow: #333333 0 0 5px;">
            <div style="font-size:24px;padding-bottom:10px;">
                <a style="text-decoration:none" href="/"> Homepage </a>
            </div>
            <div style=""> Added a nice professional image pulled from unsplash.com and added parallax and some text behind it. Challenging, I know! The site and database associated with it are both being hosted on Microsoft Azure, and it is built in .NET utilizing OWIN, ASP.NET Identity and Claims based authentication, MVC 5, WebAPI 2.x, Dapper.net. </div>
        </div>
        <div style="width:100%; border:1px solid black; text-align:center; margin:20px 0; padding: 40px 40px; border-radius: 5px; box-shadow: #333333 0 0 5px;">
            <a href="">
                <div style="font-size:24px;padding-bottom:10px;">
                    <a href="~/Stores" style="text-decoration:none">Stores</a>
                </div>
            </a>
            <div style="">
                I am in the process of creating a store template. Everything is complete for it, minus the payment process (proper authentication certificates and payment services cost too much money for products that dont exist yet!).
                Everything else in the store works. It consists of:
                <ul style="">
                    <li>lists of stores</li>
                    <li>the store themselves</li>
                    <li>lists of categories in the stores</li>
                    <li>store items in the categories</li>
                    <li>cart for the store</li>
                    <li>checkout page for the store</li>
                </ul>
                The store utilizes OWIN claims based authentication and is created using knockout to bind the front end, with a data model set up Dapper.net and Sql Server.
                When I do end up creating a service or product to sell, I plan higher level certificates than the free ones available and will use Stripe.net API to process credit card payments.
            </div>
        </div>
        <div style="width:100%; border:1px solid black; text-align:center; margin:20px 0; padding: 40px 40px; border-radius: 5px; box-shadow: #333333 0 0 5px;">
            <div style="font-size:24px;padding-bottom:10px;">
                <a style="text-decoration:none" href="/Game">Live Game</a>
            </div>
            <div style=""> Contrary to the title, this is a list that was created to be updated in real time. The idea behind it was to create game events, and then be able to have people join them, given they provide their email address. Just a simple list project. </div>
            <div style=""> This live game listing was written using SignalR and utilizes knockoutJS and knockout validation for the front end bindings, with a data model set up Dapper.net and Sql Server. </div>
        </div>
        <div style="width:100%; border:1px solid black; text-align:center; margin:20px 0; padding: 40px 40px; border-radius: 5px; box-shadow: #333333 0 0 5px;">
            <div style="font-size:24px;padding-bottom:10px;">
                <a style="text-decoration:none" href="/Calendar">Event Calendar</a>
            </div>
            <div style=""> This is an autogenerated calendar built in javascript and styled with Boostrap 3, Moment.js, Bootstrap 3 DateTimePicker and CSS3. Each calendar day is bounded using knockout.js to event a list of events that you can join or leave, as well as a function to add events. You can view the events and calendar dates anonymously, but must login/register in order to add an event or join an event. </div>
        </div>
        <div style="width:100%; border:1px solid black; text-align:center; margin:20px 0; padding: 40px 40px; border-radius: 5px; box-shadow: #333333 0 0 5px;">
            <div style="font-size:24px;padding-bottom:10px;">
                <a style="text-decoration:none" href="/Home/Map">Google Maps Tool</a>
            </div>
            <div style=""> This was originally started out as a learning project in 2012 to experiment with Google Maps Api and ended up turning unto a geolocation tool aiming to simplify and organize lists of any places that. The development of this tool is still on going but has stalled of late. More functionality and API's will be implemented, as well as some much needed refactoring and redesigning as development continues and time permits. </div>
        </div>
        <div style="width:100%; border:1px solid black; text-align:center; margin:20px 0; padding: 40px 40px; border-radius: 5px; box-shadow: #333333 0 0 5px;">

            <div style="font-size:24px;padding-bottom:10px;">
                <a href="~/Games/Asteroid" style="text-decoration:none">Asteroid Game</a>
            </div>
            <div style="">
                Now this is an actual game. But it's very simple, so you might get bored with it easily. This is a simple asteroid game where you have to try and avoid the asteroid. I created this while playing with and learning about the HTML5 canvas. This game was written in javascript and HTML5/CSS3.
            </div>
        </div>
        <div style="width:100%; border:1px solid black; text-align:center; margin:20px 0; padding: 40px 40px; border-radius: 5px; box-shadow: #333333 0 0 5px;">
            <div style="font-size:24px;padding-bottom:10px;">
                <a href="~/ToDoList" style="text-decoration:none;">
                    To Do List
                </a>
            </div>
            <div style="">
                This is a pretty self explanatory. It's a simple to do list I wrote back in 2013/2014 while practicing knockoutJS. But you can create, edit, and remove lists of lists, so it adds another layer to the complexity of just a simple to do list. It's a bit old and it hasnt exactly been modified for mobile. It was written using knockoutJS for the front end bindings, and utilizes the OWIN claims based authentication associated with the rest of the site, as well as Dapper.net and Sql Server. It has simple stylings using HTML5, CSS3, and Bootstrap. 
            </div>
        </div>
    </div>
</div>

<style>
    .parallaxWindow {
        background: url(../Content/images/photo-1452837850452-3974eda0fbe4.jpg) no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        color: #fff;
        text-align: center;
    }

    #botImgDiv {
        width: 100%;
        height: auto;
        padding-bottom: 300px;
        background-image: url(../../Content/images/photo-1452837850452-3974eda0fbe4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>