﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MapsFullscreen.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/the!s/smoothness/jquery-ui.css" />
@Scripts.Render("~/Scripts/third-party/bundle")
@Scripts.Render("~/Scripts/AppScripts")
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyA78bIvZMBQBRScs_T9YCPRp8ykmfvkEjo&region=us"></script>
@if (@User.Identity.IsAuthenticated)
{
    <script type="text/javascript">
        var map = new App.Map();
    </script>
}
else
{
    <script type="text/javascript">
        var map = new App.MapAnon();
    </script>
}
<style>
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        font-family: Verdana;
    }

    a {
        text-decoration: none;
    }

    #lists {
        padding: 5px 20px 10px 20px;
    }

    .list {
        background-color: #FFFFFF;
        border-radius: 3px;
        padding: 3px;
    }

    .listClose {
        float: right;
    }

    .listItemClose {
        float: right;
    }

    .addPlaceList {
        display: none;
    }

    .listItem {
        display: none;
        padding: 2px 5px;
        background-color: #FFFFFF;
        border-radius: 3px;
    }

    .addListError {
        border: 1px solid red;
    }

    .hideMarkerInfo {
        display: none;
    }

    #lists {
        height: 100%;
        overflow-y: auto;
    }

    .itemDetails {
        padding: 0 20px;
        background-color: #FFFFFF;
        border-radius: 3px;
    }

    .searchItem {
        background-color: #FFFFFF;
        border-radius: 3px;
        padding: 3px;
    }

    #more {
        padding: 15px 0px;
        overflow-x: hidden;
        text-align: center;
        max-height: 10%;
        width: 100%;
        background-color: #2543FF;
        color: #FFFFFF;
        overflow: auto;
        cursor: pointer;
    }

        #more:hover {
            background-color: #01169D;
        }

        #more:active {
            background-color: #02137C;
        }

    #setCurentLocation:hover {
        background-color: #666666 !important;
    }

    #setCurentLocation:active {
        background-color: #989898 !important;
    }

    #addList:hover {
        cursor: pointer;
        background-color: #048C82 !important;
    }

    #addList:active {
        cursor: pointer;
        background-color: #10626D !important;
    }

    #btnSearch:hover {
        cursor: pointer;
        background-color: #663B5A !important;
    }

    #btnSearch:active {
        cursor: pointer;
        background-color: #661550 !important;
    }

    #btnLists:hover {
        cursor: pointer;
        background-color: #048C82 !important;
    }

    #btnLists:active {
        cursor: pointer;
        background-color: #10626D !important;
    }
</style>
<div>
    <div>
        <div style="width: 70%; background-color:#F2F0E9;">
            <input id="txtACSearch" type="text" style="width: 100%; font-size:18px;" autocomplete="on" placeholder="Search for a place or different types of places" />
            <div id="map_canvas" style="width: 70%; height: 95%; position:absolute; left:0; z-index:2;">
            </div>
            <div id="setCurentLocation" style="position:absolute; bottom:0; right:34%; opacity:.6; padding:15px; text-align:center; border-radius:50%; background-color:#333333;  color:#FFFFFF; z-index:200000; cursor:pointer;">
                @@
            </div>
        </div>
        <div style="width: 30%; margin-top:-30px; padding-bottom:30px; min-width:250px; position: absolute; z-index: 3; background-color: #ffffff; height: 94%; right: 0; background-color:#F2F0E9; ">
            <div style="height:45%; position: relative; overflow:auto;">
                @if (@User.Identity.IsAuthenticated)
                {
                    <div id="addList" style="background-color:#077C8C; color:#FFFFFF; padding: 10px 0px; text-align:center;">
                        Add List
                    </div>
                    <div id="addListFields" style="display: none; overflow:auto;">
                        <form class="cmxform" id="commentForm" method="get" action="">
                            <div>Name: <input id="listName" class="addListField" type="text" required /></div>
                            <div>Description: <input id="listDescription" class="addListField" type="text" required /></div>
                            <div id="cancelAddList" style="background-color:#cccccc; color:#FFFFFF; padding:10px 0px; text-align:center;">
                                Cancel
                            </div>
                        </form>
                    </div>
                    <div style="height:auto; ">
                        <div id="lists" style="overflow-y: auto; ">

                        </div>
                    </div>
                }
                else
                {
                    <div style="padding:20px; ">
                        <div style="background-color:#FFFFFF; padding:3px; box-shadow: #DEDEDE 0 0 3px; border-radius:3px; ">
                            Click here to <a style="font-weight:600;" href="~/account/login">login</a> or <a style="font-weight:600;" href="~/account/register">register</a> so you can get started creating your own lists of your favorite and most desired places!
                        </div>
                    </div>
                }
            </div>
            <div id="places" style="height: 62%; position: relative; z-index:20; overflow:scroll;">
                @if (@User.Identity.IsAuthenticated)
                {
                    <div style="position:relative; height:auto; ">
                        <div id="btnSearch" class="buttonToggle" style="position:absolute; background-color:#613053; color:#FFFFFF;  left:0; width: 50%; padding:10px 0px; text-align: center;">Search</div>
                        <div id="btnLists" class="buttonToggle" style="position:absolute; background-color:#077C8C; color:#FFFFFF;  right:0; width: 50%; padding:10px 0px; text-align: center;">List</div>
                    </div>
                }
                <div style="position:relative; padding-top:40px;">
                    <div style=" overflow-x:hidden; height:100%; ">
                        <div style="height:auto;  overflow:hidden; ">
                            <div id="listResults" class="showPlaces" style="overflow-y:auto; padding:20px;">
                            </div>
                        </div>
                    </div>
                    <div id="searchResults" class="hidePlaces" style=" overflow-x:hidden; display: none; height:100%; ">
                        <div id="more" style="">More Results</div>
                        <div style="height:auto;  overflow:hidden; ">
                            <div id="sidebar" style="overflow-y:auto; padding:10px 20px; border-radius:3px; ">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
