﻿@model Untitled2.Models.Calendar.Calendar

@{
    ViewBag.Title = "Events Calendar";
    Layout = "~/Views/Shared/FullscreenCalendar.cshtml";
}



<div id="calendar" style="max-width:800px; min-width:600px;">
    <div style="display:table; margin: auto; padding:20px 0; width:100%;">
        <div style="margin: auto; width:100%; text-align:center;">
            <div style="display: inline-block; cursor:pointer; padding:10px 0; width:15%; border:1px solid black;" class="btn btn-primary" data-bind="click: previousMonth">
                Previous
            </div>
            <div style="display: inline-block; width:50%; font-size:24px; text-align:center;" data-bind="text:CurrentMonth">

            </div>
            <div style="display: inline-block; cursor:pointer; padding:10px 0; width:15%; border:1px solid black;" class="btn btn-primary" data-bind="click: nextMonth">
                Next
            </div>
        </div>
    </div>
    <div data-bind="foreach: Days" style="display:table; margin: auto; width:100%;">
        @*<div style="position:relative; height:75px;" data-bind="click: selectCategory">
                <div style="position: absolute;" data-bind="text: Name">

                </div>
                <div style="position: absolute; top:20px;" data-bind="text: Description">

                </div>
            </div>*@
        <div data-bind="css: { divRow: IsFirstDay() == 1 }">

        </div>
        <div style="display:table-cell; text-align:center; border: 1px solid black; height: 100px; width: 14.28571428%;" data-bind="click: selectDay, css: { diffColor: IsHighlighted }">
            <div style="padding:10px 0;">
                <span data-bind="visible: IsADate, text: DayNumber"></span>
            </div>
            <div data-bind="visible: IsADate">
                <div>
                    Events
                </div>
                <div>
                    <span data-bind="text: Events().length"></span>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="with: EventList">
        <div data-bind="visible:Day.IsADate" style="width: 100%; height:auto; margin: auto;">
            <div style="padding:10px 0; font-size:24px; text-align:center; " data-bind="text: Day.Date">

            </div>
            <div>
                <div data-bind="visible: Day.ShowAddEvent">
                    <div class='col-sm-5'>
                        Name: <input type="text" data-bind="value: Day.addName" class="form-control" />
                    </div>
                    <div class='col-sm-5'>
                        Description: <input type="text" data-bind="value: Day.addDescription" class="form-control" />
                    </div>
                    <div class='col-sm-5'>
                        Start Time: <input type="text" data-bind="dateTimePicker: Day.addStartDate" class="form-control" />
                    </div>
                    <div class='col-sm-5'>
                        End Time: <input type="text" data-bind="dateTimePicker: Day.addEndDate" class="form-control" />
                    </div>
                </div>
                <div class='col-sm-5' style="padding:10px 15px;">
                    <div style="display:inline-block; padding:10px 20px; border: 1px solid black; cursor: pointer;" class="btn btn-primary" data-bind="click: Day.AddEvent">
                        ADD EVENT
                    </div>
                    <div style="display:inline-block; padding:10px 20px; border: 1px solid black; cursor: pointer;" class="btn btn-primary" data-bind="visibleInlineBlock: Day.ShowAddEvent, click: Day.CancelAddEvent">
                        CANCEL
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div data-bind="visible: !selectedDay.length" style="padding:10px 0;">
                <div class='col-sm-5'>
                    There are no events for this date. Add one?
                </div>
            </div>
            <div data-bind="visible: selectedDay.length" style="padding: 10px 0; text-align:center; font-size:24px; ">
                Events
            </div>
            <div data-bind="foreach: selectedDay">
                <div class='col-sm-5' style="padding:10px 15px;">
                    <span data-bind="text: Name"></span> <span data-bind="text: StartTime"></span> - <span data-bind="text: EndTime"></span> <div style="padding:5px 0; text-align:center; width:100px; display:inline-block" class="btn btn-primary" data-bind="click: Attend, text: IsAttendingText"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .divRow {
        display: table-row;
    }
</style>
<script>
    var viewModelCalender = new App.Calendar(@Html.Raw(Json.Encode(Model)));
    App.bindViewModel({ viewModel: viewModelCalender, elementId: "calendar" });

    console.log(@Html.Raw(Json.Encode(Model)))
</script>
